# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @kapilt @darrendao @tjstansell @JohnHillegass @thisishi @FireballDWF @jtroberts83 @ingwarsw @stefangordon @aluong @logachev @castrojo 
